*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-bg-color:#f8f9fa;
  --color--131921:#131921;
  --coloe--3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#232f3e;
  --secound-bg-color:white;
  --color--777777:#777777;
  --icon-color:black;
  --content-color:black;
  --card-color:#f8f9fa;
  --content-color2:black;
  --category:white;
  --night-icon:#febd69;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
body{
  font-family: 'Roboto', sans-serif;
  text-transform:capitalize;
  overflow-x: hidden;
  background-color: var(--main-bg-color)!important;
}
a{
  text-decoration: none!important;
  display: inline-block!important;
  color: aliceblue!important;
}
/* header part */

/* header part end */
.heart-active{
  color: rgb(236, 43, 43)!important;
}
.active{
  color: #febd69!important;
}


/* media quare */
@media (max-width:600px) {
  body{
    font-size: 10px;
  }
  .smile{
    width: 60%;
  }
}